.header{
    background-color: $blanco;
    .logo{
        width: 20rem;
    }
}

.cajas{
    .caja{
        p{
            color: $rosa;
        }
    }
    @include tablet{
        @include grid(3);
    }
}