.bg-rojo{
    background-color: $rojo;
}
.bg-azul{
    background-color: $azul;
}
.bg-verde{
    background-color: $verde;
    transition: opacity .3s ease-in-out;
    &:hover{
        opacity: 0.75;
        
    }
}
.r-gap{
    display: grid;
    row-gap: 2rem;
}