.bg-rojo{
    background-color: $rojo;
    
}
.bg-azul{
    background-color: $azul;
}
.bg-verde{
    background-color: $verde;
    transition: opacity .3s ease-in-out;
    &:hover{
        opacity: 0.75;
        
    }
}
.bg-amarillo{
    background: $amarillo;
}
.bg-naranja{
    background-color: $naranja;
}

.bg-morado{
    background-color: $morado;
    transition: opacity .3s ease-in-out;
    &:hover{
        opacity: 0.75;
        
    }
}
.r-gap{
    display: grid;
    row-gap: 2rem;
}
.btn-revisar{
    cursor: pointer;
    color: $blanco;
    font-weight: $bold;
    background: $amarillo;
    &:hover{
        background: lighten($amarillo, 15);
    }
}