.header{
    background-color: $blanco;
    padding: 1rem;
    //box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.37);
    border-bottom: 2px solid #E1E1E2;
}
.contenido-header{
    
    display: grid;
    justify-content: center;
    row-gap: 2rem;
    @include tablet{
        @include grid(2);
    }
    
}

.contenido-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .logo{
        width: 20rem;
    }
    h2{
        color: $gris;
        font-weight: $regular;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    @include tablet{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .separa{
            width: 1px;
            height: 100%;
            margin: 0 1rem 0 1rem;
            background-color: #cbcfd3;
        }
        h2{
            margin: 0;
        }
    }
}
.navegacion{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease, opacity 0.3s ease, height 0.2s linear;

    display: grid;
    justify-content: center;
    @include tablet{
        visibility: visible;
        opacity: 1;
        @include grid(5);
        
    }
    .icono{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover, &:focus{
            .texto{
                background-size: 100% 2px;
            }
        }
        @include tablet{
            display: flex;
            flex-direction: row;
            .texto{
                font-size: 1.2rem;
                padding-bottom: 0.2rem;
                background-image: linear-gradient( 90deg,$rojo, $rojo);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }
        }
    }
}
#ver-mensaje,#btn-abrir-popup{
    cursor: pointer;
}

.icono-mensaje{
    position: relative;
    .mensaje{
        position: absolute;
        background-color: $rojo;
        color: $blanco;
        padding: .4rem 0.6rem;
        border-radius: 50%;
        font-size: 1rem;
        top: -2.2rem;
        left: 0.6rem;
    }
    
}
.contenedor-mensaje{
    .popup-mensaje{
        padding: 1.5rem;
        position: absolute;
        right: 2rem;
        top: 49rem;
        background-color: $blanco;
        border-radius: 0.5rem;
        width: 25rem;
        box-shadow: 0 0 0.5rem 0 rgba($color: #000000, $alpha: 0.3);
        transition: 0.3s ease all;
        overflow: hidden;
        transform: translateY(-5rem);
        opacity: 0;
        visibility: hidden;
        &.active{
            visibility:visible;
        }
        a{
            color: $verde;
            display: block;
        }
        @include tablet{
            left: 65%;
            top: 7.8rem;
        }
        h3{
            font-size: 1.6rem;
            
        }
        .texto{
            text-align: left;
            font-size: 1.2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $grisClaro;
        }
        .btn-cerrar-mensaje{
            padding: 0;
            margin-bottom: 2rem;
            cursor: pointer;
            text-align: right;
            width: 100%;
            margin: 0;
            font-size: 1.6rem;
            font-weight: $bold;
            text-align: right;
            color: #bbbbbb;
            transition: 0.3s ease all;
            &:hover{
                color: #000000;
            }
        }
        
    }
}
//ANIMACIONES

.popup-mensaje.active{
    opacity: 1;
    transform: translateY(0);
    //transform: scale(1);
}
//NAVEGACION
.navegacion{
    &.nav-admi{
        @include tablet{
            justify-content: center;
            align-items: center;
            @include grid(4); 
        }
    }
}

.mobile-menu{
    cursor: pointer;
    display: flex;
    justify-content: center;
    @include tablet{
        display: none;
    }
}
.mostrar{
    visibility: visible;
    opacity: 1;
    height: auto ;
}
//POPUPMENSAJE
