.main{
    margin: 5rem auto;
    width: 90%;
    display: grid;
    row-gap: 2rem;
    @include tablet{
        width: 80%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}
.base{
    margin: 5rem auto;
    width: 60%;
    display: grid;
    row-gap: 2rem;
    @include tablet{
        justify-content: center;
    }
}
.seccion{
    background-color: $blanco;
    box-shadow: 0 0.1rem 0.4rem rgba(63, 63, 63, 0.459);
    border-radius: 1rem;
    overflow: hidden;
    .titulo{
        padding: 0.5rem;
        h2{
            color: $blanco;
            font-size: 2rem;
            text-align: center;
            margin: 0;
        }
    }
    .info{
        padding: 2rem;
        h3{
            font-size: 2rem;
        }
    }   
}
.postulante{
    color: $gris;
    font-size: 2rem;

}
.postular{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet{
        flex-direction: row;
    }
    p{
        text-align: center;
    }
    a{
        background-color: $verde;
        color: $blanco;
        padding: 1rem 2rem;
        border-radius: 1rem;
        font-weight: $bold;
        display: block;
        @include tablet{
            margin-left: 4rem;
            display: inline-block;
        }
    }
}