.contenedor-tabla{
    margin: 5rem 0;
    overflow-x: auto;
    
    box-shadow: 0 0.1rem 0.4rem rgba(63, 63, 63, 0.459);
    border-radius: 0.5rem 0.5rem 0 0;
    
    
}
.table{
    background-color: $blanco;
    width: 100%;
    
    border-collapse: collapse;
    //overflow: hidden;
    font-size: 0.9em;
    
    
    thead{
        background-color: $verde;;
        color: $blanco;
        text-align: left;
        font-weight: $bold;
        border: 0;
    }
    th, td{
        padding: 1.2rem 1.5rem;
    }
    tbody tr{
        border-bottom: 1px solid #dddddd;
    }
    tbody tr:nth-of-type(even){
        background-color: #f3f3f3;
    }
    tbody tr:last-of-type{
        border-bottom: 2px solid $verde;
    }
    .estado{
        margin: 0;
        padding: 0.5rem;
        border-radius: 0.3rem;
        background-color: $gris;
        color: $blanco;
        font-size: 1.2rem;
        text-align: center;
        font-weight: $bold;
        &.verde{
            background-color: $verde;
        }
        &.rojo{
            background-color: $rojo;
        }
        &.azul{
            background-color: $azul;
        }
        &.naranja{
            background-color: $naranja;
        }
    }
}
