
.r-ver{
    margin: 10rem 0;
}
.tabla{
    overflow-x: auto;
    @include tablet{
        @include grid (9);
        align-items: center;
    }
    .columna{
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}
.comentario{
    @include tablet{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    h3{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    p{
        text-align: center;
        margin: 0;
    }
    a{
        background-color: $verde;
        color: $blanco;
        padding: 1rem 2rem;
        border-radius: 1rem;
        font-weight: $bold;
        display: block;
        @include tablet{
            display: inline-block;
        }
    }
    .col-1{
        padding: 1rem;
        .bg-rojo{
            background-color: $rojo;
        }
        .btn-corregir{
            &:hover{
                background-color: lighten($color: $rojo, $amount: 10);
            }
        }
    }
}
.btn-regresar-revisar{
    display: inline-block;
    background-color: $naranja;
    padding: 1rem 1.5rem;
    margin: 2rem 0 0 2rem;
    color: $blanco;
    border-radius: 0.3rem;
    &:hover{
        background-color: lighten($naranja, 10);
    }
}
.contenedor-gap{
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
}